<div class="container">
  <div class="row one">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <p class="flowerlist">Flowers</p>
      <hr>
        {{#each flowers}}
        <li class="list-group-item flower-item">
          <span class="flowertext" >{{flower_name}}</span>
          <a href="/api/flowers/{{id}}"><img class="flowerImg" data-id={{id}} src="{{imageurl_thumbnail}}"></a>
        </li>
        <br>
        {{/each}}
    </div>
</div>