<div class="container">
  <div class="row one">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <p class="flowerlist">Flowers</p>
      <hr>
        {{#each flowers}}
        <li class="list-group-item flower-item">
          <span class="flowertext" >{{flower_name}}</span>
          <img class="flowerImg" data-id={{id}} src="{{imageurl_thumbnail}}">
        {{!-- <button id="flower" class= "btn btn-default btndevour" data-id="{{id}}">Show Detail</button> --}}
        </li>
        <br>
        {{/each}}
    </div>
</div>