.input {
        max-width: 100%;
} 
.navbar-inverse{
    background-color: black;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background-color: gray;
}
#mainLogo {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 175px;
    border-radius: 8px;
}
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: white;
}
.navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
    background-color: gray;
}
.flowerLogo{
    width: 100%;
}

body{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.flower-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #BADA55;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .55);
}

.flowertext {
    background-color: mintcream; 
    padding: 30px;
    border-radius: 45%;
    min-width: 65px;
}

.flower-item:hover{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.flowerImg{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.flowerImg:hover{
    box-shadow: 5px 6px 7px rgba(0, 0, 0, .5);
}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 30px;
    flex-direction: column;
}